<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content ="width=device-width,initial-scale=1,user-scalable=yes"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src = "/socket.io/socket.io.js"></script>

<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Delius+Unicase:wght@700&family=Open+Sans:wght@300&display=swap" rel="stylesheet">      

<link rel="stylesheet" type="text/css" href="css/index.css">  
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="scripts/main.js"></script>
<!--<script src="call.js"></script>-->

   </head>
  

   
   <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAABwwNAG3e9wDj8m0Aqef1AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACIiIiIjAAAAISIhISMwAAAhIiEhIzMAACEiISEjMzAAIRERISMzMAAhIiEhIzMwACEiISIjMzAAISIhISMzMAAiIiIiIzMwAAREREREMzAAAERERERDMAAABEREREQwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAAgB8AAIAPAACABwAAgAMAAIADAACAAwAAgAMAAIADAACAAwAAwAMAAOADAADwAwAA//8AAP//AAD//wAA" rel="icon" type="image/x-icon" />
   <title>Chatterbox</title>
</head>




    <body>
        <div class="container-fluid">
            <div class="row">
              <div class="col-sm-2" id="user" >
                <h2 id="username" class="text-center"><%= name %></h2>
                <script src="scripts/javanewindex.js"></script>
                <hr>
                <div class="AboutMe">
                    <div class="profileimage text-center" >
                        
               
                        
                        <img id="photoimage" class="prof img-circle" src= "<%= profileimage %>" />
                        
                        
                        <!--</form> -->
                    </div> 
                    <a href="/" type="button" id="edit" class="btn btn4" style="right: 10px; position: absolute;" >Edit</a><br>
                    <div id='information' style="margin-top: 10px;">
                      
                    <p style="font-weight:500;"> Gender: </p>
                    <p><b><%= gender %> </b> </p> <br>
                    <p style="font-weight:500;">  Age:</p>
                    <p><b> <%= age %></b> </p><br>
                    <!--<input type="submit">-->
                    <p style="font-weight:500;">  I come from:</p>
                    <p><b> <%= country %></b> </p><br>
                    <p style="font-weight:500;"> Study/Work:</p>
                    <p><b><%= study %></b> </p><br>
                    <p style="font-weight:500;"> Interests/Hobbies:</p>
                    <p><b> <%= interests %></b> </p>
                  <!-- <input type="button" value="Save" onclick="saveInfo();">-->
                  
                 
                    </div>
                    



                    
                    
                
                
                </div>
                    <hr>
                    <div class="status">
                    <!--<form method="POST" action="/send">-->
                    <div class="online"><input type="radio" id="online" class="online" name="status" value="online" onclick="setOnline()" checked> 
                    <label for="online" class="status" style="font-family: 'Open Sans', sans-serif;">Available</label></div>
                    <div class="offline"><input type="radio" id="offline" class="offline" name="status" value="offline" onclick="setOffline()"> 
                    <label for="offline" class="status" style="font-family: 'Open Sans', sans-serif; ">Busy</label></div>
                    <!--<button class="submit" type="submit" value="Submit">Enter</button>-->
                    <!--</form>-->
                </div>
               
              </div>
            
              <div class="col-sm-8" id="messageExchange" >
               
                <div class="buttonsup" >
                    
                    <input type="button" class="settings" id="Settings" value="Settings" >
                    <label for="Settings" id="SETTINGS" class="Label"><i class="material-icons"  data-toggle="modal" data-target="#myModal">settings</i></label>
                    <input type="button" class="call" id="Call" value="Call">
                    <label for="Call" id="CALL" class="Label"><i class="material-icons" onclick="voicecall()" data-toggle="modal" data-target="#myCall">call</i></label>
                    <input type="button" class="videocall" id="Videocall" value="Videocall">
                    <label for="Videocall" id="VIDEOCALL" class="Label" onclick="videocall()" data-toggle="modal" data-target="#myVideo"><i class="material-icons">video_call</i></label>
                </div>   
                <hr>
                <div class="messagebox grid-container" id="Messagebox"> 
                    
                        
                    <div id="mylist" class="grid-item"></div>
                    <div id="userslist" class="grid-item"></div>
                </div>
                
               
                  <audio id="myAudio" src="https://actions.google.com/sounds/v1/cartoon/pop.ogg" type="audio/ogg">
                   
                    Your browser does not support the audio element.
                  </audio>
                <textarea rows="2" cols="20" wrap="hard" class= "text" id="typewrite" onkeypress="enterMessage();" onkeydown="typing()" onkeyup="notTyping();"placeholder="Write a message..." value="" style="width: 100%;" ></textarea><br>
                <div class="buttonsdown"> 
                <input type="file" name="file" id="files" class="inputfile" />
                    <label for="files" class="Label" id="Files"><i class="material-icons">attach_file</i></label>
                    <input type="file" name="photofile" class="photofile" id="Photo" value="Photo" accept="image/*" onchange="sendImage(event)" >
                     <label for="Photo" class="Label" id="Photos" > <i class="material-icons">photo</i></label>
                    <input type="button"   class="voice" id="voice" value="Voice">
                    <label for="voice" class="Label" id="record" onmouseup="mouseUp()" onmousedown="mouseDown()"> <i class="material-icons">mic</i></label>
                    <input type="button" onclick="sendMessage()" class="send" id= "SEND" value="Send" >
                    
                    
                    <label for="SEND" id="Send" class="Label"><i class="material-icons" >send</i></label>
                    
                    <div id="audiolist">
                     </div>
                    <div id="imagelist">

                    </div>
                    <div id="proflist">
                      
                    </div>
                    
                    
                    </div>
                    <!--VIDEOKLHSH-->
                   
                   

                    <div class="modal fade" id="myVideo" role="dialog">
                      <div class="modal-dialog">
                      
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">VideoCall</h4>
                          </div>
                          <div class="modal-body">
                            <div id="videos">
                              <video id="video1" playsinline autoplay muted></video>
                              <video id="video2" playsinline autoplay></video>
                              <video id="video3" playsinline autoplay></video>
                          
                              <div>
                                  <button id="startButton">Start</button>
                                  <button id="callButton">Call</button>
                                  <button id="hangupButton">Hang Up</button>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" id="videoClose"   class="btn btn-default" data-dismiss="modal">End VideoCall</button>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                            
                    
                   
                    <!---->
                    <!--VOICECALL-->
                    <div class="modal fade" id="myCall" role="dialog">
                      <div class="modal-dialog">
                      
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">VoiceCall</h4>
                          </div>
                          <div class="modal-body">
                            <div id="videos">
                            <video id="localVoice" autoplay muted></video>
                             
                            <video id="remoteVoice" autoplay></video>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" id="voiceCall"   class="btn btn-default" data-dismiss="modal">End VoiceCall</button>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    <!---->
              </div>
              
              <div class="col-sm-2" id="onlineFriends" >
                <h2 class="text-center">Online</h2>  
                <hr>      
                <div class="box" id="OnlineUsers">
                    <ul id="usersonline" class="onusers"  >
           
                    </ul>
                       
                           
                       </div> </div>
               
                       
                      
               </div>
             
                <!-- Settings -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Settings</h4>
        </div>
        <div class="modal-body">
          <b>Text size:</b>
          <input type="radio" id="small" name="size" onclick="setSmall()" checked>Small      
          <input type="radio" id="medium" name="size" onclick="setMedium()">Medium    
          <input type="radio" id="large" name="size" onclick="setLarge()">Large    
          <br><br>
          <b>Nightmode:</b> <label class="switch">
            <input type="checkbox" id="checkBox" onclick="nightMode()">
            <span class="slider round"></span>
          </label><br><br>
          <b>Sound OFF:</b> <label class="switch">
            <input type="checkbox" id="checkBoxtwo" onclick="soundOnOff()">
            <span class="slider round"></span>
          </label>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
          
  <form action="/logout" >
    <input type="submit" value="Log out" />
</form>    
          
</body>
</html>