<!DOCTYPE html>
<html>

  <head>
    <title>Chatterbox</title>
    <meta charset="UTF-8">
    <html lang="el">
      <html lang="en">
    <meta name="viewport" content ="width=device-width,initial-scale=1,user-scalable=yes"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <html lang="en"></html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src = "/socket.io/socket.io.js"></script>
    
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Delius+Unicase:wght@700&family=Open+Sans:wght@300&display=swap" rel="stylesheet">      
    
    <link rel="stylesheet" type="text/css" href="./css/style.css">  
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
   
  </head>
  <body>

    <body>
 
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2" id="user" >
      <div id='myname'>
      <h2 id="username" class="text-center"><%= user.name %></h2></div>
      
      <hr>
      <div class="AboutMe">
      
          <div class="profileimage text-center" >
              
         
          <label for="filephoto" style="cursor: pointer;">
              
              <img id="photoimage" class="img-circle" alt="no image uploaded" src="<%= user.name %>.jpg" />
              </label>
            
            </div> 
            <a href="/me" type="button" id="edit" class="btn btn4" style="right: 10px; position: absolute;" title="Edit" >Επεξεργασία</a><br>
            <div id='information' style="margin-top: 10px;">
              
            <p style="font-weight:500;" title="Gender"> Φύλο: </p>
            <p id="gender"><b><%= user.gender %> </b> </p> <br>
            <p style="font-weight:500;" title="Age"> Ηλικία:</p>
            <p id="age"><b> <%= user.age %></b> </p><br>
            <!--<input type="submit">-->
            <p style="font-weight:500;" title="I come from"> Καταγωγή:</p>
            <p id="country"><b> <%= user.country %></b> </p><br>
            <p style="font-weight:500;" title="Study/Work"> Σπουδές/Εργασία:</p>
            <p id="study"><b><%= user.study %></b> </p><br>
            <p style="font-weight:500;" title="Interests"> Ενδιαφέροντα:</p>
            <p id="interests"><b> <%= user.interests %></b> </p>
       
            </div>
      
      
      </div>
          <hr>
          <div class="status">
            
          <div class="online"><input type="radio" id="online" class="online" name="status" value="online" onclick="setOnline()" checked> 
          <label for="online" class="status" style="font-family: 'Open Sans', sans-serif;" title="Available">Διαθέσιμος</label></div>
          <div class="offline"><input type="radio" id="offline" class="offline" name="status" value="offline" onclick="setOffline()"> 
            <label for="offline" class="status" id="busy" style="font-family: 'Open Sans', sans-serif; padding-bottom: 10%" title="Busy">Απασχολημένος</label></div>          <a  href="/logout" title="log out">Αποσύνδεση</a>
      </div>
     
    </div>
  
    <div class="col-sm-8" id="messageExchange" >
     
      <div class="buttonsup" >
          
          <input type="button" class="settings" id="Settings" value="Settings" >
          <label for="Settings" id="SETTINGS" class="Label"><i class="material-icons"  data-toggle="modal" data-target="#myModal">settings</i></label>
         
      </div>  
      <audio id="myAudio" src="https://actions.google.com/sounds/v1/cartoon/pop.ogg" type="audio/ogg">
         
        Your browser does not support the audio element.
      </audio> 
      <hr>
      <div class="messagebox grid-container" id="Messagebox"> 
        <ul id ="messages" class="messages grid-item">
             
         </ul>
        </div>
        <form id="send_message" >
            
                 <input id="message" class="message_input"  placeholder="Type your message here..." />
            
             <button class="send_message" id="sendMessage">Send</button>
             <label for="sendMessage" id="Send" class="Label"><i class="material-icons" >send</i></label>
            
            </form>
             <div class="buttonsdown"> 
          
                
                <input type="button"   class="voice" id="voice" value="Voice">
                <label for="voice" class="Label" id="record" title="Record something for 5 sec" onclick="mouseDown()"> <i class="material-icons">mic</i></label>
               
            
              
            </div>
           
         
     
         <script src="./js/socket.js"></script>
         <script src="./js/javanewindex.js"></script>
         <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/rexeze/formatTimeStamp/src/index-cdn.js"></script>
        <script src="./js/profilemit.js"></script>
         <script src="./js/chat.js"></script>
         
    
          <div id="audiolist">
           </div>
          <div id="imagelist">

          </div>
          <div id="proflist">
            
          </div>
          
       
          
    </div>
    
    <div class="col-sm-2" id="onlineFriends" >
      <h2 class="text-center">Online</h2>  
      <hr>      
      <div class="box" id="OnlineUsers">
          <ul id="usersonline" class="onusers"  >
 
          </ul>
             
                 
             </div> </div>
     
             
            
     </div>
   
      <!-- Settings -->
<div class="modal fade" id="myModal" role="dialog">
<div class="modal-dialog">

<!-- Modal content-->
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Settings</h4>
</div>
<div class="modal-body">
<b>Text size:</b>
<input type="radio" id="small" name="size" onclick="setSmall()" checked>Small      
<input type="radio" id="medium" name="size" onclick="setMedium()">Medium    
<input type="radio" id="large" name="size" onclick="setLarge()">Large    
<br><br>
<b>Nightmode:</b> <label class="switch">
  <input type="checkbox" id="checkBox" onclick="nightMode()">
  <span class="slider round"></span>
</label><br><br>
<b>Sound OFF:</b> <label class="switch">
  <input type="checkbox" id="checkBoxtwo" onclick="soundOnOff()">
  <span class="slider round"></span>
</label>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>

</div>
</div>



   
  </body>
</html>
